/* App.css */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.buttons-container {
  display: flex;
}

.counter {
  font-size: 2rem;
  padding: 15px 30px;
  margin: 10px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  transition: background-color 0.3s ease;
}

.counter:hover {
  background-color: #45a049;
}

.counter:active {
  background-color: #367b39;
}

h2 {
  font-size: 2rem;
  margin-top: 20px;
  color: #333;
}
